#heading1{
    font-size: 50px;
}
#heading2{
    color: blue;
}
#heading3{
    text-align: center;
}
.paragraph1{
    font-style: italic;
    font-size: 30px;
}
.paragraph2{
    font-weight: bold;
    
}