form{
    background-color: midnightblue;
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 1px 12px 12px black;
    color: white;

}
h1{
    text-align: center;
}

input[type=text],input[type=email],input[type=password]{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    background-color: olivedrab;
    width: 100px;
    height: 25px;
}
button:hover{
    background-color: crimson;
}
